@CHARSET "ISO-8859-1";			


body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;	
	background-color: #0CB3EB;
	overflow: hidden;
}


#stage {
	background-image:url('../img/clouds.fw.png');
	width: 93%;
	height: 100%;
	position: absolute;
	z-index: 1;
	
}

#GameTable {
	width: 8%;
	height: 950px;
	position: relative;
	float: right;
	background-color: #7F8182;
	border: 5px solid #3D4345;
	border-radius: 3px;
	color: #C0D45F;
	font-size: 25px;
	z-index: 2;
}

p#score,p#bullets {
	margin-left: 10px;
}
#plane {
	position: absolute;
	bottom: 0px;
	left: 0px;	
}



#enemyTarget {
	position: absolute;
	display: inline-block;
	top: 50px;
	
}

#bullet {
	position: absolute;
	left: 800px;
	bottom: 800px;
	display: inline-block;
	visibility: hidden;
	
}

